.service-container {
    background-color: rgb(236, 234, 234);
    width: 50%;
    height: fit-content;
    padding-bottom: 2vw;
    margin: 20px auto;
}

#left-service {
    display: block;
    margin-right: 10px;
}

#center-service {
    display: block;
}

#right-service {
    display: block;
    margin-left: 10px;
}

.service-icon {
    width: 60px;
    background: transparent;
    display: inline;
    margin: 30px auto;
}


.service-label {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    height: fit-content;
    padding: 5px;
    color: orange;
    background-color: rgb(250, 158, 158);
    font-size: 12px;
    border-radius: 5px;
}

.service-method {
    margin: 20px auto;
    font-size: 24px;
}

.service-method-short {
    margin: 0px auto;
    width: fit-content;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid orange;
}

#all-service-label {
    display: block;
    margin: 1.5vw auto;
    padding: 0.5vw;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: bold;
}

#all-service-label:hover {
    opacity: 0.3;
}

@media (max-width: 960px) {
    #left-service, #center-service {
        width: 60%;
        margin: 20px auto;
    } 

    #right-service {
        width: 30%;
        margin: 20px auto;
    }
}

@media (max-width: 596px) {
    #right-service {
        width: 60%;
    }
}